@font-face {
    font-family: 'Game of Thrones';
    src: url('GameofThrones.eot');
    src: url('GameofThrones.eot?#iefix') format('embedded-opentype'),
        url('GameofThrones.woff2') format('woff2'),
        url('GameofThrones.woff') format('woff'),
        url('GameofThrones.svg#GameofThrones') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

